@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --Blue-Zodiac: #13264d;
  --Terra-Cotta: #e2725b;
  --Orange-Peel: #ff9f00;
  --Granite: #84817a;
  --menu-btn-font-size: clamp(2.7rem, calc(1rem + 2vw), 100rem);
  --close-menu-btn-container-size: clamp(3.8rem, calc(1.5rem + 3vw), 100rem);
  --close-menu-btn-container-size-min: clamp(3rem, calc(1rem + 2.5vw), 100rem);
  --m-nav-links-font-size: clamp(3rem, calc(1rem + 3vw), 100rem);
  --m-nav-links-padding-top: clamp(2.5rem, calc(1rem + 3vw), 100rem);
  --h1-font-size: clamp(3.5rem, calc(1.5rem + 4.2vw), 100rem);
  --h2-font-size: clamp(2.5rem, calc(1rem + 2.5vw), 100rem);
  --h3-font-size: clamp(2rem, calc(0.5rem + 1.5vw), 100rem);
  --h4-font-size: clamp(1.6rem, calc(0.5rem + 1vw), 100rem);
  --h5-font-size: clamp(1.6rem, calc(0.5rem + 1.5vw), 100rem);
  --h6-font-size: clamp(1.6rem, calc(0.5rem + 1.2vw), 100rem);
  --first-p-font-size: clamp(1.8rem, calc(0.5rem + 1.3vw), 100rem);
  --second-p-font-size: clamp(1.6rem, calc(0.4rem + 1.1vw), 100rem);
  --third-p-font-size: clamp(1.4rem, calc(0.3rem + 1vw), 100rem);
  --second-padding: clamp(2rem, calc(0.4rem + 1.5vw), 100rem);
  --first-padding: clamp(1rem, calc(0.5rem + 2vw), 100rem);
  --third-padding: clamp(1rem, calc(0.2rem + 1vw), 100rem);
  --fourth-padding: clamp(0.3rem, calc(0.1rem + 0.3vw), 100rem);
  --border-radius-high: clamp(1rem, calc(0.5rem + 1vw), 100rem);
  --border-radius-medium: clamp(0.5rem, calc(0.1rem + 0.5vw), 100rem);
  --border-radius-low: clamp(0.3rem, calc(0.1rem + 0.3vw), 100rem);
  --play-demo-btn-size: clamp(3rem, calc(1rem + 2.7vw), 100rem);
  --first-gap: clamp(2rem, calc(1rem + 1.7vw), 100rem);
  --second-gap: clamp(1.7rem, calc(0.5rem + 1vw), 100rem);
  --third-gap: clamp(0.7rem, calc(0.3rem + 0.5vw), 100rem);
  --user-profile-container: clamp(5rem, calc(3rem + 5vw), 100rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

.volkhov {
  font-family: "Volkhov", serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

/* ==============================> Reuseable Content <============================== */

a {
  color: var(--Blue-Zodiac);
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

section {
  margin-top: 4vw;
  overflow: hidden;
}

section:last-child {
  overflow: scroll;
}

img {
  width: 100%;
  height: 100%;
}

.web-main-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.section-body {
  height: 100%;
  padding-top: clamp(2.5rem, calc(1rem + 1.7vw), 100rem);
  padding-bottom: 1vw;
}

.section-highlight p {
  font-size: var(--second-p-font-size);
  font-weight: 600;
  color: var(--Granite);
}

.section-title h2 {
  font-size: var(--h2-font-size);
  line-height: 1.1;
}

/* ==============================> Start Header Section <============================== */

header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

nav {
  width: 100%;
  height: 15%;
}

.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-link .medium-device {
  display: none;
}

.navigation-link .medium-device .m-nav-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000080;
  display: none;
}

.m-nav-container .m-nav-main {
  width: 50%;
  height: 100%;
  background-color: #fff;
  margin-left: auto;
}

.m-nav-main .m-nav-header {
  width: 90%;
  height: 10%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.m-nav-main .m-nav-header .close-menu-btn {
  width: var(--close-menu-btn-container-size);
  height: var(--close-menu-btn-container-size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Blue-Zodiac);
  color: #fff;
  border-radius: 50%;
}

.navigation-link .medium-device .open-menu-btn i,
.m-nav-main .m-nav-header .close-menu-btn i {
  font-size: var(--menu-btn-font-size);
}

.m-nav-main .m-nav-links {
  width: 100%;
  height: 90%;
}

.m-nav-main .m-nav-links ul {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--first-gap);
  padding-top: var(--m-nav-links-padding-top);
}

.m-nav-main .m-nav-links ul li {
  width: 100%;
  border-bottom: 0.2vw solid var(--Granite);
}

.m-nav-main .m-nav-links ul li a {
  font-size: var(--m-nav-links-font-size);
  padding: var(--third-padding) var(--second-padding);
}

.navigation-link .high-device ul {
  display: flex;
  align-items: center;
  gap: var(--third-gap);
}

.navigation-link .high-device ul li a {
  position: relative;
  font-size: var(--second-p-font-size);
  font-weight: 500;
  padding: var(--fourth-padding) var(--third-padding);
  transition: 0.3s ease;
}

.navigation-link .high-device ul li a::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 0.2vw;
  background-color: var(--Blue-Zodiac);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s ease-in-out;
}

.navigation-link .high-device ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.header-cover-bg {
  position: absolute;
  top: -10%;
  right: 0;
  z-index: -99;
}

.banner {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
}

.banner-info {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.banner-info .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--second-gap);
}

.banner-info .info .highlight p {
  color: var(--Terra-Cotta);
  font-size: var(--first-p-font-size);
  font-weight: 700;
}

.banner-info .info .banner-title h1 {
  color: var(--Blue-Zodiac);
  font-size: var(--h1-font-size);
  line-height: 1;
}

.banner-info .info .banner-description p {
  color: var(--Granite);
  font-size: var(--third-p-font-size);
}

.banner-info .info .banner-btns {
  display: flex;
  align-items: center;
  gap: var(--first-gap);
}

.banner-info .info .banner-btns .btn-yellow {
  background-color: var(--Orange-Peel);
  color: #fff;
  font-size: var(--third-p-font-size);
  font-weight: 500;
  padding: var(--third-padding) var(--second-padding);
  border-radius: var(--border-radius-medium);
}

.banner-info .info .banner-btns .btn-play-demo {
  display: flex;
  align-items: center;
  gap: var(--third-gap);
  font-size: var(--third-p-font-size);
  color: var(--Granite);
}

.banner-info .info .banner-btns .btn-play-demo .play-icon {
  width: var(--play-demo-btn-size);
  height: var(--play-demo-btn-size);
  background-color: var(--Terra-Cotta);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.banner-info .info .banner-btns .btn-play-demo .play-icon i {
  color: #fff;
}

.banner-img {
  width: 100%;
  height: 100%;
}

.banner-img .main-img {
  width: 100%;
  height: 100%;
}

.banner-img .main-img img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

/* ==============================> End Header Section <============================== */

/* ==============================> Start Category Section <============================== */

.section-top.center {
  text-align: center;
}

.section-body .category-section-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--second-gap);
}

.category-card {
  padding: var(--second-padding);
  border-radius: var(--border-radius-high);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.category-card:hover {
  transform: translateY(-7%);
  box-shadow: 0 0.2vw 0.5vw #0000004d;
}

.category-card .card-main {
  display: flex;
  flex-direction: column;
  gap: var(--third-gap);
  text-align: center;
}

.category-card .card-main .icon i {
  font-size: var(--menu-btn-font-size);
  color: var(--Blue-Zodiac);
  transition: 0.3s ease;
}

.category-card:hover.category-card .card-main .icon i {
  color: var(--Orange-Peel);
}

.card-main .c-t-card-title h4 {
  font-size: var(--h4-font-size);
}

.card-main .c-t-card-description p {
  color: var(--Granite);
  font-size: var(--third-p-font-size);
  line-height: 1.1;
}

/* ==============================> End Category Section <============================== */

/* ==============================> Start Top Selling Section <============================== */

.top-selling-section-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--second-gap);
}

.destination-card {
  box-shadow: 0 0.2vw 0.5vw #0000004d;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.destination-card:hover {
  transform: translateY(-3%);
}

.destination-card .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.destination-card .destination-info {
  display: flex;
  flex-direction: column;
  gap: var(--third-gap);
  padding: var(--third-padding);
}

.destination-card .destination-info p {
  font-size: var(--third-p-font-size);
  color: var(--Granite);
  transition: 0.3s ease;
}

.destination-card:hover.destination-card .destination-info p {
  color: var(--Terra-Cotta);
}

.destination-card .destination-info .name-and-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.destination-card .destination-info .trip-days {
  display: flex;
  align-items: center;
  gap: var(--third-gap);
}

.destination-card .destination-info .trip-days .icon i {
  font-size: var(--third-p-font-size);
  color: var(--Blue-Zodiac);
}

/* ==============================> End Top Selling Section <============================== */

/* ==============================> Start Book Trip Section <============================== */

.book-trip-container-body {
  display: flex;
  align-items: center;
}

.easy-step-container,
.trip-info-container {
  width: 50%;
}

.easy-step-container .step {
  width: 90%;
  display: flex;
  gap: var(--second-gap);
  margin-top: 2.5vw;
}

.easy-step-container .step:first-child {
  margin-top: 0;
}

.step-icon-container .step-icon {
  width: var(--close-menu-btn-container-size);
  height: var(--close-menu-btn-container-size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Orange-Peel);
  margin-top: 0.2vw;
  border-radius: var(--border-radius-medium);
}

.step:nth-child(2) .step-icon-container .step-icon {
  background-color: var(--Terra-Cotta);
}

.step:nth-child(3) .step-icon-container .step-icon {
  background-color: var(--Blue-Zodiac);
}

.step-icon-container .step-icon i {
  font-size: var(--first-p-font-size);
  color: #fff;
}

.step-info .step-title h6 {
  font-size: var(--h6-font-size);
  line-height: 1;
}

.step-info .step-description p {
  font-size: var(--third-p-font-size);
  color: var(--Granite);
  line-height: 1.2;
  margin-top: 0.5vw;
}

.trip-info {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  padding: var(--second-padding);
  box-shadow: 0 0.2vw 0.5vw #0000004d;
  border-radius: var(--border-radius-low);
}

.trip-info .img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-low);
  overflow: hidden;
}

.trip-info .trip-title h5 {
  font-size: var(--h5-font-size);
}

.trip-info .trip-description p {
  font-size: var(--second-p-font-size);
  color: var(--Granite);
}

.trip-info .trip-info-icon {
  display: flex;
  align-items: center;
  gap: var(--third-gap);
}

.trip-info .trip-info-icon .icon {
  width: var(--close-menu-btn-container-size-min);
  height: var(--close-menu-btn-container-size-min);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dadada;
  border-radius: 50%;
}

.trip-info .trip-info-icon .icon i {
  font-size: var(--third-p-font-size);
}

.trip-info .trip-going-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trip-info .trip-going-info p {
  font-size: var(--second-p-font-size);
  color: var(--Granite);
}

.trip-info .trip-going-info p span {
  display: inline-block;
  margin-right: var(--third-gap);
}

.trip-info .trip-going-info .love-icon i {
  font-size: var(--second-p-font-size);
  color: var(--Granite);
}

/* ==============================> End Book Trip Section <============================== */

/* ==============================> End Testimonials Section <============================== */

.swiper {
  width: 100%;
  height: 100%;
}

.testimonials-card {
  width: 90%;
  height: 90%;
  margin: auto;
  padding: var(--second-padding);
}

.testimonials-card .card {
  text-align: center;
  padding: var(--second-padding);
  box-shadow: 0 0 0.3vw #0000004d, 0 0 0.6vw #0000004d;
}

.testimonials-card .user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonials-card .user-profile .user-img {
  width: var(--user-profile-container);
  height: var(--user-profile-container);
  border-radius: 50%;
  overflow: hidden;
}

.testimonials-card .user-profile .user-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials-card .user-profile .user-name-and-location {
  margin-top: 0.5vw;
}

.testimonials-card .user-profile .user-name-and-location h6 {
  font-size: var(--h6-font-size);
  line-height: 1.1;
}

.testimonials-card .user-profile .user-name-and-location p {
  font-size: var(--third-p-font-size);
}

.testimonials-card .user-comments {
  margin-top: var(--third-gap);
}

.testimonials-card .user-comments p {
  font-size: var(--third-p-font-size);
  color: var(--Granite);
  line-height: 1.2;
}
/* ==============================> End Testimonials Section <============================== */

/* ==============================> Start Subscribe Section <============================== */

.subscribe-container {
  background-color: #dadada;
  padding: var(--first-padding);
  border-radius: 5vw 1vw 5vw 1vw;
}

.subscribe-container .subscribe-main {
  text-align: center;
  padding: var(--first-padding);
}

.subscribe-main .subscribe-icon {
  position: absolute;
  top: 0%;
  right: 0%;
  width: var(--close-menu-btn-container-size);
  height: var(--close-menu-btn-container-size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7070ec;
  border-radius: 50%;
}

.subscribe-main .subscribe-icon i {
  color: #fff;
  font-size: var(--first-p-font-size);
}

.subscribe-main .title h3 {
  font-size: var(--h3-font-size);
  color: var(--Blue-Zodiac);
  line-height: 1.3;
}

.subscribe-main .subscribe-input {
  width: 50%;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: var(--second-gap);
  margin-top: 2vw;
}

.subscribe-main .subscribe-input input {
  width: 100%;
  height: 100%;
  font-size: var(--third-p-font-size);
  padding: var(--third-padding) var(--second-padding);
  border: none;
  border-radius: var(--border-radius-medium);
}

.subscribe-main .subscribe-input input:focus-within {
  outline: none;
}

.subscribe-main .subscribe-input button {
  background-color: var(--Terra-Cotta);
  color: #fff;
  font-size: var(--third-p-font-size);
  font-weight: 500;
  padding: var(--third-padding) var(--second-padding);
  border-radius: var(--border-radius-medium);
}

/* ==============================> End Subscribe Section <============================== */
