@media only screen and (max-width: 1024px) {
  .web-main-container {
    width: 85%;
  }

  nav {
    height: 12%;
  }

  .banner {
    height: 88%;
  }

  .category-container .section-body {
    width: 70%;
    margin: 0 auto;
  }

  .section-body .category-section-body {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .web-main-container {
    width: 95%;
  }

  nav {
    height: 10%;
  }

  .navigation-link .medium-device {
    display: block;
  }

  .navigation-link .high-device {
    display: none;
  }

  .banner {
    height: 90%;
    flex-direction: column-reverse;
  }

  .banner-info {
    height: 50%;
    justify-content: center;
    align-items: center;
  }

  .banner-info .info {
    width: 90%;
    align-items: center;
    margin-top: clamp(2rem, calc(0.5rem + 1.7vw), 100rem);
  }

  .banner-info .info .highlight p,
  .banner-info .info .banner-title h1,
  .banner-info .info .banner-description p {
    text-align: center;
  }

  .banner-img {
    height: 50%;
  }

  .category-container .section-body {
    width: 80%;
  }
}

@media only screen and (max-width: 640px) {
  .web-main-container {
    width: 98%;
  }

  nav {
    height: 8%;
  }

  .nav-container {
    width: 90%;
    margin: 0 auto;
  }

  .m-nav-container .m-nav-main {
    width: 100%;
    margin-left: 0;
  }

  .header-cover-bg {
    height: 100%;
  }

  .header-cover-bg img {
    object-fit: cover;
  }

  .banner {
    height: 92%;
  }

  category-container .section-body {
    width: 90%;
  }

  .category-card {
    box-shadow: 0 0.2vw 0.5vw #0000004d;
  }
}

@media only screen and (max-width: 500px) {
  .banner-info .info {
    width: 97%;
    align-items: center;
  }

  .category-container .section-body {
    width: 70%;
  }

  .section-body .category-section-body {
    grid-template-columns: repeat(1, 1fr);
  }

  .top-selling-container .section-body {
    width: 55%;
    margin: 0 auto;
  }

  .top-selling-section-body {
    grid-template-columns: repeat(1, 1fr);
  }
}
